@{
    ViewData["title"] = "Blotters";

    ViewData["BreadCrumbLinks"] = new List<KeyValuePair<string, string>>
    {
        new(
            "Dashboard",
            Url.Action("Dashboard", "Dashboard"))
    };
}

@model List<Bmis.Web.Controllers.Blotters.BlotterViewModel>
@await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])

<div class="row">
    <div class="col-lg-12">
        <div class="box box-solid bg-black">
            <div class="box-header with-border">
                <ul class="box-controls pull-right">
                    <a asp-controller="Blotters"
                       asp-action="Add"
                       class="btn btn-success">Add new blotter</a>
                </ul>
            </div>
            <div class="box-body">						
                <div class="table-responsive project-table">
                    <table id="blotters" class="table table-hover table-bordered table-striped display nowrap margin-top-10">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Complainant</th>
                            <th>Respondent</th>
                            <th>Blotter Type</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var blotter = Model[i];

                            <tr>
                                <td>@(i+1)</td>
                                <td>
                                    <a asp-action="Blotter"
                                       asp-controller="Blotters"
                                       asp-route-id="@blotter.Id">
                                        @blotter.Complainant
                                    </a>
                                </td>
                                <td>@blotter.Respondent</td>
                                <td>@blotter.BlotterType</td>
                                <td>@blotter.Location</td>
                                <td>@blotter.Status</td>
                                <td>@blotter.DateTime</td>
                                <td>
                                    <form asp-action="Delete" asp-controller="Blotters" asp-route-id="@blotter.Id">
                                        <button class="btn btn-danger btn-xs">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#blotters').DataTable({
                "dom": 'Bfrtip',
                "buttons": [
                    'print'
                ],
                "searching": true,
                "paging":   true,
                "info": true
            });
        })
    </script>
}
