@{
    ViewData["title"] = "Add new resident";

    ViewData["BreadCrumbLinks"] = new List<KeyValuePair<string, string>>
    {
        new(
            "Dashboard",
            Url.Action("Dashboard", "Dashboard")),
        new(
            "Residents",
            Url.Action("Residents", "Residents"))
    };
}

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Bmis.Web.Controllers.Residents.ResidentViewModel

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="box box-solid bg-black">
            <div class="box-header with-border">
                <h3 class="box-title">Add new resident</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-12">
                        <form asp-action="Add" asp-controller="Residents" method="post">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">First Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control input-sm" type="text" asp-for="FirstName">
                                    <span asp-validation-for="FirstName" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Middle Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" asp-for="MiddleName">
                                    <span asp-validation-for="MiddleName" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" asp-for="LastName">
                                    <span asp-validation-for="LastName" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Extension</label>
                                <div class="col-sm-10">
                                    <input class="form-control" asp-for="Extension">
                                    <span asp-validation-for="Extension" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Gender</label>
                                <div class="col-sm-10">
                                    <select class="form-control" asp-for="Gender">
                                        @foreach (var gender in Enum.GetValues<Gender>())
                                        {
                                            <option value="@gender">@gender</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Gender" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Birthdate</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="date" asp-for="Birthdate">
                                    <span asp-validation-for="Birthdate" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Civil Status</label>
                                <div class="col-sm-10">
                                    <select class="form-control" asp-for="CivilStatus">
                                        @foreach (var status in Enum.GetValues<CivilStatus>())
                                        {
                                            <option value="@status">@status</option>
                                        }
                                    </select>
                                    <span asp-validation-for="CivilStatus" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Contact No.</label>
                                <div class="col-sm-10">
                                    <input class="form-control" asp-for="ContactNo">
                                    <span asp-validation-for="ContactNo" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Email Address</label>
                                <div class="col-sm-10">
                                    <input class="form-control" asp-for="Email">
                                    <span asp-validation-for="Email" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Street Address</label>
                                <div class="col-sm-10">
                                    <input type="hidden" class="form-control" asp-for="AddressId">
                                    <select class="col-sm-10 form-control" data-placeholder="Search address" style="width: 100%" asp-for="StreetAddress">
                                    </select>
                                    <span asp-validation-for="StreetAddress" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Purok</label>
                                <div class="col-sm-10">
                                    <input class="form-control" asp-for="Purok">
                                    <span asp-validation-for="Purok" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Voter Status</label>
                                <div class="col-sm-10">
                                    <select class="form-control" asp-for="VoterStatus">
                                        @foreach (var status in Enum.GetValues<VoterStatus>())
                                        {
                                            <option value="@status">@status</option>
                                        }
                                    </select>
                                    <span asp-validation-for="VoterStatus" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input type="checkbox" asp-for="IsPwd" value="false" onchange="this.value=this.checked">
                                    <label asp-for="IsPwd">Is PWD?</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Disability</label>
                                <div class="col-sm-10">
                                    <input class="form-control" asp-for="Disability">
                                    <span asp-validation-for="Disability" class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Image" class="form-label col-sm-2">Photo</label>
                                <div class="input-group col-sm-10">
                                    
                                    <div class="input-group-append">
                                        <button id="camera-btn" type="button" class="btn btn-danger" data-target="#camera-dialog"><i class="fa fa-camera"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="form-label col-sm-2">Preview</label>
                                <div class="input-group col-sm-10">
                                    <img class="avatar avatar-xxl" id="preview"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            <div class="modal fade" id="camera-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Camera</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mx-auto" id="camera"></div>
                                            <div id="result" class="d-none d-flex justify-content-center">
                                                <img class="align-center" id="result-img"/>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="capture-btn">Capture</button>
                                            <button type="button" class="btn btn-primary d-none" id="capture-again-btn">Capture Again</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


<script src="~/assets/vendor_components/webcam.js"></script>
<!-- CSS -->


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="~/assets/vendor_components/select2/dist/js/select2.full.min.js"></script>
    <script language="javascript">
    
        $(document).ready(function() {
            function setupCamera(){
                Webcam.set({
                     width: 320,
                     height: 240,
                     image_format: 'jpeg',
                     jpeg_quality: 90
                 });

                 Webcam.attach('#camera');
            }
              
            function dataURLtoFile(dataurl, filename) {
                var arr = dataurl.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]), 
                    n = bstr.length, 
                    u8arr = new Uint8Array(n);
                    
                while(n--){
                    u8arr[n] = bstr.charCodeAt(n);
                }
                
                return new File([u8arr], filename, {type:mime});
            }
            
            $("form").on("submit", function(e){
                e.preventDefault();
                
                if($(this).valid()){
                    var formData = new FormData(this);
                    var imageUrl = $("#preview").attr("src")

                    if(imageUrl)
                    {
                        console.log(imageUrl)
                        var file = dataURLtoFile(imageUrl, "test.jpg");
                        formData.append('Image', file); 
                    }
                    
                    $.ajax({
                        url: $(this).attr("action"),
                        data: formData,
                        type: 'POST',
                        contentType: false, 
                        processData: false, 
                        success: function(){
                            window.location = "/residents"
                        },
                        error: function(){
                        }
                    });

                    return true;
                }
            })
            
            function toggleElements(){
               $("#result").toggleClass("d-none")
               $("#camera").toggleClass("d-none")
               $("#capture-again-btn").toggleClass("d-none")
               $("#capture-btn").toggleClass("d-none")
            }

            $(document).on("click", "#camera-btn", function(){
                $("#camera-dialog").modal();
                 setupCamera()
            });
            
            $(document).on("click", "#capture-btn", function(e) {
                Webcam.snap( function(data_uri) {
                   $("#result-img").attr("src", data_uri)
                   toggleElements()
                   Webcam.reset();
                 });
            });
            
            $(document).on("click", "#capture-again-btn", function(e) {
               setupCamera()
               $("#result-img").attr("src", "")
               toggleElements()
            });
            
            $('#camera-dialog').on('hidden.bs.modal', function (e) {
			    Webcam.reset();
                if($("#result-img").attr("src") != ""){
                    $("#preview").attr("src", $("#result-img").attr("src"))
                }
		    })

            $("#StreetAddress").select2({
                tags: true,
                allowClear: true,
                minimumInputLength: 3,
                ajax: {
                    delay: 250,
                    url: '/households/search',
                    dataType: 'json',
                    data: function(params) {
                        return { query: params.term };
                    },
                    processResults: function(data) {
                        var result = $.map(data,
                            function(obj) {
                                return { 
                                    id : obj.id,  
                                    text: obj.streetAddress,
                                    purok: obj.purok
                                };
                            });

                        return {
                            results: result
                        };
                    }
                },
                templateSelection: formatState,
                templateResult: formatTemplate
            });

            function formatTemplate (state) {
                if (!state.id) {
                    return state.text;
                }
                var $state = $(
                    '<span>'+
                        '<div>Address: ' + state.text + '</div>' +
                    '</span>'
                );
                if (state.purok) {
                    $state.find("div").append('<div>Purok: ' + state.purok + '</div>');
                }

                return $state;
            };

            function formatState (state) {
                if (!state.id) {
                    return state.text;
                }

                var $state = $(
                    '<span><span></span></span>'
                );

                $state.find("span").text(state.text);

                return $state;
            };

            $('#StreetAddress').on('select2:select', function (e) {
                var data = e.params.data;
                if (data.purok) {
                    $("#Purok").val(data.purok);
                    $("#Purok").attr("disabled", "disabled");
                    $("#AddressId").val(data.id);
                } else {
                    $("#Purok").val("");
                    $("#Purok").prop("disabled", false);
                    $("#AddressId").val(0);
                }
            });

            $("#StreetAddress").on("select2:unselecting",
                function() {
                    $("#Purok").val("");
                    $("#Purok").prop("disabled", false);
                    $("#AddressId").val(0);
                });
        })
    
    
    
    
    
    
    </script>
}