@model Bmis.Web.Controllers.Households.HouseHoldViewModel

@{
    ViewData["title"] = Model.Address;

    ViewData["BreadCrumbLinks"] = new List<KeyValuePair<string, string>>
    {
        new(
            "Dashboard",
            Url.Action("Dashboard", "Dashboard")),
        new(
            "HouseHolds",
            Url.Action("HouseHolds", "Households"))
    };
}

<div class="row">
    <div class="col-12 d-flex">
        <div class="box box-body col-auto flex-shrink-1 m-5 pull-up bg-warning bg-deathstar-white">
            <div class="flexbox">
                <span class="fa fa-users font-size-40"></span>
                <span class="font-weight-200 font-size-26">@Model.TotalMembers</span>
            </div>
            <div class="text-right">Population</div>
        </div>
        <div class="box box-body col-auto flex-shrink-1 m-5 pull-up bg-danger bg-deathstar-white">
            <div class="flexbox">
                <span class="fa fa-drivers-license-o font-size-40"></span>
                <span class="font-weight-200 font-size-26">@Model.TotalVoters</span>
            </div>
            <div class="text-right">Voters</div>
        </div>
        <div class="box box-body col-auto flex-shrink-1 m-5 pull-up bg-info bg-deathstar-white">
            <div class="flexbox">
                <span class="fa fa-wheelchair font-size-40"></span>
                <span class="font-weight-200 font-size-26">@Model.TotalPwd</span>
            </div>
            <div class="text-right">PWD</div>
        </div>
        <div class="box box-body col-auto flex-shrink-1 m-5 pull-up bg-info bg-deathstar-white">
            <div class="flexbox">
                <span class="fa fa-male font-size-40"></span>
                <span class="font-weight-200 font-size-26">@Model.TotalMale</span>
            </div>
            <div class="text-right">Male</div>
        </div>
        <div class="box box-body col-auto flex-shrink-1 m-5 pull-up bg-info bg-deathstar-white">
            <div class="flexbox">
                <span class="fa fa-female font-size-40"></span>
                <span class="font-weight-200 font-size-26">@Model.TotalFemale</span>
            </div>
            <div class="text-right">Female</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="box box-solid bg-black">
            <div class="box-header with-border">
                <h3 class="box-title">Update Household</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-12">
                        <form asp-action="Update" asp-controller="Households" method="post" asp-route-id="@Model.AddressId">
                    <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Street Address</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" asp-for="Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Purok</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" asp-for="Purok">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<div class="row">
    <div class="col-12 d-flex flex-wrap justify-content-center">
        @for (var index = 0; index < Model.Residents.Count; index++)
        {
            var resident = Model.Residents[index];
                        <a asp-action="Resident" asp-controller="Residents" asp-route-id="@resident.Id">

        <div class="box box-body col-auto flex-shrink-1 m-5" style="width: 18rem;">
            <div class="p-2">
                <img class="rounded my-10" src="~/uploads/@resident.ImageUrl" onerror="this.src='/uploads/avatar.jpg';">
                <h6 class="m-0 text-truncate">
                    @resident.GetFullName()
                </h6>
                <span class="badge bg-primary">@resident.Gender</span>
                <span class="badge bg-primary">@resident.VoterStatus Voter</span>
            </div>
        </div>
                        </a>

        }
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}